<footer>
    <section class="footer__wrapper">
        <div class="footer__block _1">
            <div class="footer__social">
                <a href="#" class="facebook-icon"><img src="assets/images/facebook.png"/></a>
                <a href="#" class="instagram-icon"><img src="assets/images/instagram.png"/></a>
                <a href="#" class="pinterest-icon"><img src="assets/images/pinterest.png"/></a>
            </div>
            <div class="footer__safe">
                <a href="#" class="vtex-icon"><img src="assets/images/vtex.png"/></a>
                <a href="#" class="ebit-icon"><img src="assets/images/ebit.png"/></a>
            </div>
        </div>
        <div class="footer__block _2">
            <ul>
                <span class="footer__title">Institucional</span>
                <li class="footer__link"><a href="#">A Marca</a></li>
                <li class="footer__link"><a href="#">Lojas</a></li>
                <li class="footer__link"><a href="#">Contato</a></li>
            </ul>
            <ul>
                <span class="footer__title">Informações</span>
                <li class="footer__link"><a href="#">Formas de Pagamento</a></li>
                <li class="footer__link"><a href="#">Trocas e Devoluções</a></li>
                <li class="footer__link"><a href="#">Cuidados Com o Produto</a></li>
            </ul>
            <ul>
                <span class="footer__title">Conheça</span>
                <li class="footer__link"><a href="#">Franquias e Multimarcas</a></li>
                <li class="footer__link"><a href="#">Trabalhe com a Gente</a></li>
                <li class="footer__link"><a href="#">Procon</a></li>
            </ul>
        </div>
        <div class="footer__block _3">
            <div class="footer__news">
                <span class="news__title">Assine nossa news</span>
                <form id="newsletter">
                    <input type="text" id="name" value="" class="form-name" placeholder="NOME" required/>
                    <input type="email" id="email" value="" class="form-email" placeholder="E-MAIL" required/>
                    <button type="submit" class="form-btn">ENVIAR</button>
                </form>
            </div>
        </div>
    </section>
    <div class="footer__bottom">
        <span>
            Via Mia | V.Milano Centro Comercio de Bolsas Eireli - EPP.<br/>
            Av.da Américas, 500 - bloco 20, loja 126 - Barra da Tijuca - Rio de Janeiro - RJ - CEP:22640-100<br/>
            CNPJ: 05.292.288/0002-10 - I.E: 86.732.548 - E-mail: ecommerce@viamia.com.br
        </span>
        <img src="assets/images/logo_bottom.png"/>
    </div>
</footer>