<header class="header">
    <div class="header__main-title">
        <a href=##><img src="assets/images/logo.png"/></a>
    </div>
    <div class="header__menu">
        <div class="menu__block _1">           
            <span class="menu__item">Entrar</span>
            <span class="menu__item">|</span>
            <span class="menu__item">Cadastre-se</span>
        </div>   
        <div class="menu__block _2">
            <a href="#" class="menu__link">Sapatos</a>
            <a href="#" class="menu__link">Bolsas</a>
            <a href="#" class="menu__link">Acessórios</a>
            <a href="#" class="menu__link">Off</a>
        </div>
        <div class="menu__block _3">           
            <span class="menu__item search"><img src="assets/images/search.png"/><input placeholder="BUSCA"/></span>
            <span class="menu__item cart"><img src="assets/images/cart.png"/><span id="cart-qtd">0</span></span>
        </div>
    </div>
</header>