<section class="product__img-container">
    <div class="product__img-content">
        <div class="product__img-left">
            <div class="product__video">
                <span class="video__title">Video</span>
                <img src="assets/images/video.png"/>
            </div>
            <div class="product__img-nav js--product-img-nav">
                <img src="assets/images/prod02.png" />
                <img src="assets/images/prod02.png" />
                <img src="assets/images/prod02.png" />
                <img src="assets/images/prod02.png" />
                <img src="assets/images/prod02.png" />
                <img src="assets/images/prod02.png" />
            </div>
        </div>
        <div class="product__img-right">
            <div class="product__img-main js--product-img-main">                
                <img src="assets/images/prod02.png" />
                <img src="assets/images/prod02.png" />
                <img src="assets/images/prod02.png" />
                <img src="assets/images/prod02.png" />
                <img src="assets/images/prod02.png" />
                <img src="assets/images/prod02.png" />
            </div>
        </div>
    </div>
</section>