<div class="product__img-shelf">                    
        <div class="shelf__img">  
            <span class="shelf__wish"><img src="assets/images/wish.png"/></span>
            <img src="assets/images/prod01.png" />
        </div>  
        <div class="shelf__info">
            <div class="shelf__price">R$ 204,90</div>
            <div class="shelf__colors">
                <span data-color="A9095E">Fucsia</span>
                <span data-color="6B85C1">Marrom</span>
                <span data-color="A14830">Azul</span>
                <span data-color="000000">Preto</span>
            </div>
        </div>
    </div>
<div class="product__img-shelf">            
    <div class="shelf__img">  
        <span class="shelf__wish"><img src="assets/images/wish.png"/></span>
        <img src="assets/images/prod02.png" />
    </div>  
    <div class="shelf__info">
        <div class="shelf__price">R$ 204,90</div>
        <div class="shelf__colors">
            <span data-color="A9095E">Fucsia</span>
            <span data-color="6B85C1">Marrom</span>
            <span data-color="A14830">Azul</span>
            <span data-color="000000">Preto</span>
        </div>
    </div>
</div>
<div class="product__img-shelf">            
    <div class="shelf__img">  
        <span class="shelf__wish"><img src="assets/images/wish.png"/></span>
        <img src="assets/images/prod03.png" />
    </div>  
    <div class="shelf__info">
        <div class="shelf__price">R$ 204,90</div>
        <div class="shelf__colors"></div>
    </div>
</div>
<div class="product__img-shelf">            
    <div class="shelf__img">  
        <span class="shelf__wish"><img src="assets/images/wish.png"/></span>
        <img src="assets/images/prod04.png" />
    </div>  
    <div class="shelf__info">
        <div class="shelf__price">R$ 204,90</div>
        <div class="shelf__colors">  
            <span data-color="6B85C1">Marrom</span>
            <span data-color="A14830">Azul</span>
            <span data-color="000000">Preto</span>
        </div>
    </div>
</div>
<div class="product__img-shelf">            
    <div class="shelf__img">  
        <span class="shelf__wish"><img src="assets/images/wish.png"/></span>
        <img src="assets/images/prod01.png" />
    </div>  
    <div class="shelf__info">
        <div class="shelf__price">R$ 204,90</div>
        <div class="shelf__colors">
            <span data-color="A9095E">Fucsia</span>
            <span data-color="6B85C1">Marrom</span>
            <span data-color="A14830">Azul</span>
            <span data-color="000000">Preto</span>
        </div>
    </div>
</div>
<div class="product__img-shelf">            
    <div class="shelf__img">  
        <span class="shelf__wish"><img src="assets/images/wish.png"/></span>
        <img src="assets/images/prod02.png" />
    </div>  
    <div class="shelf__info">
        <div class="shelf__price">R$ 204,90</div>
        <div class="shelf__colors">
            <span data-color="6B85C1">Marrom</span>
            <span data-color="A14830">Azul</span>
            <span data-color="000000">Preto</span>
        </div>
    </div>
</div>