
        //colors
//grey colors
$lighter-grey: #f2f2f2;
$light-grey: #ebebeb;
$softer-grey: #e3e3e3;
$soft-grey: #cccccc;
$hard-grey: #adadad;
$harder-grey: #7f7f7f;
$dark-grey: #686868;

//palette
$salmon: #de8f75;
$blue: #5f75aa;
$marin: #adb6c1;
$mostard: #e0da9b;
$soft-blue: #a5c3c0;
$dark-blue: #2a5a75;
$close-toblack: #1f201f;
$green: #32917b;
$red-orange: #e35442;

//neutral
$white: #fff;
$black: #000;

        //fonts
$font-gotham: 14px 'Gotham Book', sans-serif;
$font-open: 12px 'Open Sans', sans-serif;